
@{
    ViewData["Title"] = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<br />
<button id="btnlist"  class="btn btn-primary">Müşteri Listesi</button>
<button class="btn btn-info" id="btnadd">Müşteri Ekle</button>
<button class="btn btn-success" id="btnremove">Müşteri Sil</button>
<button class="btn btn-danger" id="btnupdate">Müşteri Güncelle</button>
<button class="btn btn-warning" id="btnget">Müşteri Getir</button>

<hr />

<script>

    $("#btnlist").click(function (){
        $.ajax({
           contentType: "application/json",
            dataType: "json",
            type: "Get",
            url: "/Customer/CustomerList/",
            success: function (funk1) {
                let customers = jQuery.parseJSON(funk1);
                console.log(customers);
            }
        });
    });

</script>